/*Swiper*/
.swiper-container {
    width: 100%;
    height: 80vh;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #1E90FF;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.swiper-slide .text {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
}
.swiper-slide .text h1 {
    font-size: 5rem;
    margin-bottom: 30px;
}
.swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    margin-top: -15px;
    z-index: 10;
    cursor: pointer;
    background-image: url('../image/slide/left-arrow.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.swiper-button-next {
    right: 0;
    background-image: url('../image/slide/right-arrow.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
}


/*Content1*/

.content1 {
    margin-top: 30px;
}

.content1 form {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.checkout {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkout label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.checkout input {
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
}

.content1 button {
    margin-top: 10px;
    padding: 10px 15px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    background-color: #1E90FF;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.content1 button:hover {
    background-color: #18abff;
}

.most-rooms {
    margin-top: 50px;
}
.box-rooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item-rooms {
    width: 300px;
    height: 400px;
    margin: 20px;
    border: 1px solid #f2f2f2;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}
.item-rooms:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.item-rooms img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.item-rooms .desc {
    padding: 10px;
}
.item-rooms .desc .top-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item-rooms .desc .top-desc h3 {
    font-size: 20px;
    letter-spacing: 1px;
}
.item-rooms .desc .top-desc p {
    font-size: 16px;
    font-weight: 500;
}
.item-rooms .desc .top-desc p:first-child {
    color: red;
}
.item-rooms .desc .main-desc {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
    border-top: 1px solid #f2f2f2;
}
.item-rooms .desc .main-desc span {
    color: red;
    font-weight: bold;
}
.item-rooms .desc .text-danger {
    color: red;
    font-size: 20px;
    margin-top: 20px;
}
.item-rooms .desc .buttom-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.item-rooms .desc .buttom-desc a {
    background: green;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}
.item-rooms .desc .buttom-desc a:hover {
    background: blue;
    color: white;
}

/*Block*/

.block {
    margin-top: 100px;
}
.block h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}
.about-service {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-service .item {
    width: 300px;
    height: 350px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
}
.about-service .item i {
    font-size: 5rem;
    color: green;
    margin-bottom: 10px;
}
.about-service .item h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
.about-service .item p {
    font-size: 16px;
    text-align: center;
    color: grey;
}
